@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

.todolist__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.todolist__block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todolist__block h1 {
  color: white;
}

.item {
  color: white;
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
