@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

.main__container {
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.main__container_img img {
  border-radius: 50%;
}

.main__container_text {
  width: 65%;
  text-align: center;
}
