@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

.todo__container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.todo__container h1:hover {
  color: aqua;
}

.todo__container_items {
  min-width: 26%;
}

.item {
  border: 3px solid white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.item button {
  background-color: transparent;
  border: none;
}

.todo__container_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.todo__container_input button {
  background-color: lightgreen;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  width: 26%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.input__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.input__block input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 25%;
  font-family: 'Montserrat', sans-serif;
}
